@import './vars';

.App {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  header {
    align-self: stretch;
    flex-shrink: 0;
    min-height: 0;
    padding: 0.5em;
    display: flex;
    flex-direction: row;

    .spacer {
      flex: 1;
    }
  }

  .wrapper {
    flex: 1;
    position: relative;
    align-self: stretch;
  }

  .browser,
  .game {
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 400ms ease-in-out;
    width: 100%;
  }

  .Game {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .browser.hidden {
    left: -100%;
    pointer-events: none;
  }

  .game.hidden {
    left: 100%;
    pointer-events: none;
  }
}

button {
  @include selectable();
  @include user-select-none();

  border: none;
  color: #fff;
  cursor: pointer;
  padding: 1em;
}