@import './vars';

.App {
  align-items: center;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  height: 100vh;
  justify-content: center;
  margin: auto;
  max-width: 80rem;
  overflow: hidden;
  position: relative;

  &.succeeded .success {
    opacity: 1;
  }

  &.failed .failure {
    opacity: 1;
  }

  header {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    min-height: 0;
    padding: 0.5em;
    z-index: 1;

    .spacer {
      flex: 1;
    }
  }

  .wrapper {
    align-self: stretch;
    flex: 1;
    position: relative;
    z-index: 1;
  }

  .browser,
  .game {
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 400ms ease-in-out;
    width: 100%;
  }

  .Game {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .browser.hidden {
    left: -100%;
    pointer-events: none;
  }

  .game.hidden {
    left: 100%;
    pointer-events: none;
  }

  .success {
    @include absolute-full();

    background: radial-gradient(circle, rgba(230,254,255,0.2) 0%, rgba(255,0,0,0) 100%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 2s ease;
    z-index: 0;
  }

  .failure {
    @include absolute-full();

    background: radial-gradient(circle, rgba(255,0,0,0.2) 0%, rgba(255,0,0,0) 100%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 2s ease;
    z-index: 0;
  }
}

html,
body {
  background-color: #282c34;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

button {
  @include selectable();
  @include user-select-none();

  border: none;
  color: #fff;
  cursor: pointer;
  padding: 1em;
}