@import './vars';

.Board {
  @include user-select-none;

  position: relative;

  .context {
    @include absolute-full;

    transform-origin: 50% 50%;

    > * {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.Board-cell {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 64px;
  position: absolute;
  width: 64px;
}

.Board-entry::before {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgba(255, 255, 255, 0.4);
  content: '';
  height: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 0;
}