.Game {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  overflow: hidden;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 20em;
    flex-shrink: 0;

    .space {
      flex-grow: 1;
    }

    .spacer {
      flex-shrink: 0;
      width: 1em;
    }
  }

  .play-area {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex: 1;

    @media (max-aspect-ratio: 1/1) {
      & {
        flex-direction: column;
      }
    }

    .objectives {
      flex-shrink: 0;
      text-align: left;
      padding: 1em;
      align-self: stretch;

      h3 {
        margin: 0 0 1em 0;
      }

      ol {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .objective {
        display: flex;
        flex-direction: row;
        max-width: 10em;

        @media (max-aspect-ratio: 1/1) {
          & {
            display: inline-flex;
          }
        }

        svg {
          flex-shrink: 0;
          width: 2em;
          height: 2em;
          align-self: center;
        }

        p {
          margin: 0;
          padding: 0 0 0 1em;
        }
      }
    }

    .Board {
      flex: 1;
      align-self: stretch;
    }

    .move-counter {
      bottom: 0;
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 0;
      top: 0;
      width: 0.4em;
  
      .moves-remaining {
        background-color: rgba(255, 255, 255, 0.4);
        width: 0.4em;
        right: 0;
        position: absolute;
        bottom: 0;
        transition: top 1s cubic-bezier(0.16, 1, 0.3, 1);
      }
  
      .tick {
        border-top: 1px solid rgba(255, 255, 255, 0.8);
        flex: 1;
        width: 0.4em;
        z-index: 1;
  
        &:last-child {
          border-bottom: 1px solid rgba(255, 255, 255, 0.8);
        }
      }
    }
  }

  .score {
    font-size: 64px
  }

  > svg {
    display: none;
  }
}
