.Game {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  overflow: hidden;
  text-align: center;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 20em;
    flex-shrink: 0;

    .space {
      flex-grow: 1;
    }

    .spacer {
      flex-shrink: 0;
      width: 1em;
    }
  }

  .Board {
    flex: 1;
    align-self: stretch;
  }

  .score {
    font-size: 64px
  }
}
