@import './vars';

.LevelBrowser {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;

  .pack {
    margin: auto;
    max-width: 30em;
    padding: 1em;

    ol {
      list-style: none;
      padding: 0;
    }

    li {
      @include selectable();

      background: none;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      cursor: pointer;
      display: flex;
      flex-direction: row;
      padding: 1em 1em 1em 2em;

      h3 {
        margin: 0;
        flex-shrink: 0;
      }

      p {
        margin: 0 0 0 1em;
        font-size: 0.8em;
        color: rgba(255, 255, 255, 0.7);
      }

      &:last-child {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
  }
}
